/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (imports)
        2. =PRIMARY LAYOUT (team)
        3. =SECONDARY LAYOUT (mission)
        4. =TERTIARY LAYOUT
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

@import url("main.css");

/* ===============
  PRIMARY LAYOUT
  =============== */

.team {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.team__divider {
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    max-width: 600px;
    width: 85%;
}
  
.member {
    background-color: var(--secondary);
    border-radius: 3px;
    box-shadow: 0 10px 60px -20px rgba(0, 0, 0, 0.45);
    margin-top: 40px;
    max-width: 600px;
    width: 85%;
    text-align: center;
}


/* ===============
  SECONDARY LAYOUT
  =============== */

.mission {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mission-container {
    background-position: center;
    background-size: cover;
    height: 300px;
    position: relative;
    width: 100%;
}

/* ===============
  TERTIARY LAYOUT
  =============== */

/* ===============
  TEXT RELATED
  =============== */

.mission__title {
    font-size: 2rem;
    color: var(--lt);
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 3;
}

.mission__subtitle {
    font-size: 0.7rem;
    margin: 20px 0 0;
}

.mission__body {
    margin: 15px 20px 0;
    max-width: 600px;
}

.member__title {
    border-bottom: 1px solid var(--primary);
    margin: 0px;
    padding: 10px 0px;
    text-transform: initial;
}

.member__body {
    margin: 20px auto;
    max-width: 800px; 
    width: 90%;
}
  
.member__contact {
    color: var(--med);
    font-family: "Josefin Sans Light";
    margin: 0px auto 20px auto;
    width: 90%;
}

/* ===============
  GENERAL STYLES
  =============== */

/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

/* .mission__img {
    object-fit: cover;
    height: 300px;
    width: 100vw;
} */

.member__img {
    border-radius: 3px;
    object-fit: cover;
    object-position: top;
    height: 400px;
    width: 100%;
}
  

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

@media (min-width: 900px) {
    .mission-container {
        height: 500px;
    }

    .mission__body {
        text-align: left;
        width: 500px;
    }
    
    .member {
        margin-top: 60px;
    }
    
    .member__body {
        margin: 40px auto;
    }
}
