/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (imports)
        2. =PRIMARY LAYOUT (team)
        3. =SECONDARY LAYOUT (mission)
        4. =TERTIARY LAYOUT
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

@import url("main.css");

/* ===============
  PRIMARY LAYOUT
  =============== */

.main, .team {
    display: flex;
    flex-flow: column nowrap;
    gap: 60px;
}
  
/* .member {
    margin-top: 40px;
    max-width: 600px;
    width: 85%;
} */

.member {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  width: 100%;
}


/* ===============
  SECONDARY LAYOUT
  =============== */

.mission {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    /* margin: 0 auto 60px; */
}

/* ===============
  TERTIARY LAYOUT
  =============== */

/* ===============
  TEXT RELATED
  =============== */

.mission__title, .member__title {
  color: var(--med-color);
  font-size: 1.7rem;
}

.member__info {
  color: var(--dark-neutral);
  font-size: .9rem;
  text-transform: uppercase;
}

.mission__body, .member__title, .member__subtitle, .member__body, .member__contact {
  text-align: left;
}
  
/* ===============
  GENERAL STYLES
  =============== */

/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

.mission__img, .member__img {
	left: calc(-50vw + 50%);
  max-width: initial;
  position: relative;
  width: 100vw;
}

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

@media (min-width: 900px) {
    .member {
        margin-top: 60px;
    }
    
    .member__body {
        margin: 40px auto;
    }
}
