@import url("main.css");

/* main */

/* mission */
.mission {
  text-align: center;
}

.mission__img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.mission__title {
  margin: 15px 0px 0px 0px;
  text-transform: uppercase;
}

.mission__subtitle {
  font-size: 0.7rem;
  margin: 0px;
}

.mission__body {
  margin: 15px 10px;
}

/* team */
.team {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.team__divider {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  max-width: 320px;
  width: 100%;

}

.member {
  background-color: var(--secondary);
  margin-top: 40px;
  max-width: 320px;
  text-align: center;
}

.member__title {
  border-bottom: 1px solid var(--primary);
  margin: 0px;
  padding: 10px 0px;
  text-transform: initial;
}

.member__img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.member__body {
  margin: 20px auto;
  width: 90%;
}

.member__contact {
  color: var(--med);
  font-family: "Josefin Sans Light";
  margin: 0px auto 20px auto;
  width: 90%;
}
