@import url("main.css");

/* banner */
.banner {
  background-color: var(--primary);
  color: var(--lt);
  padding: 30px 10px;
  text-align: center;
}

.banner__btn {
  background-color: var(--lt);
  border-radius: 5px;
  padding: 10px 0px;
  width: 100%;
}

.banner__btn:hover {
  cursor: pointer;
}

.banner__link {
  color: var(--primary);
}

/* showcase */
.showcase {
  align-items: center;
  display: flex;
  background-position: center;
  background-size: cover;
  height: 875px;
}

.showcase__title {
  color: var(--lt);
  font-family: "Josefin Sans Light";
  font-size: 2rem;
  margin: 0 auto;
}

/* main */
.card {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-btn {
  background-color: var(--dark);
}

.card-btn__link {
  text-transform: uppercase;
}
