/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (imports)
        2. =PRIMARY LAYOUT (main)
        3. =SECONDARY LAYOUT
        4. =TERTIARY LAYOUT
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

@import url("main.css");

/* ===============
  PRIMARY LAYOUT
  =============== */

.main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 80px;
}

.card {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    max-width: 500px;
}

/* ===============
  SECONDARY LAYOUT
  =============== */

/* ===============
  TERTIARY LAYOUT
  =============== */

/* ===============
  TEXT RELATED
  =============== */

.card__title {
  font-size: 1.3rem;
}

/* ===============
  GENERAL STYLES
  =============== */

.card-btn {
    background-color: var(--med-color);
    border-radius: 6px;
    height: 45px;
    width: 250px;
}

/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

.card-btn__link {
    color: #ffffff;
}

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

@media (min-width: 900px) {
    .main {
        align-items: flex-start;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .card {
        height: 225px;
        justify-content: space-between;
        max-width: 350px;
    }

    .card-btn {
        width: 180px;
    }
}

