/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (imports)
        2. =PRIMARY LAYOUT (main)
        3. =SECONDARY LAYOUT
        4. =TERTIARY LAYOUT
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

@import url("main.css");

/* ===============
  PRIMARY LAYOUT
  =============== */

.card {
    text-align: center;
    margin: 0 auto;
    max-width: 610px;
    padding: 30px 0px;
}

.card:not(:nth-of-type(1)) {
    border-top: 1px solid var(--dark-color);
}

/* ===============
  SECONDARY LAYOUT
  =============== */

/* ===============
  TERTIARY LAYOUT
  =============== */

/* ===============
  TEXT RELATED
  =============== */
  
.card__title {
    margin: 0px;
}

.card__body {
    margin: 15px 0px;
}

/* ===============
  GENERAL STYLES
  =============== */

.card-btn {
    background-color: var(--med-color);
    border-radius: 3px;
    padding: 10px 0;
    width: 250px;
}

/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

.card-btn__link {
    text-transform: uppercase;
}

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

@media (min-width: 900px) {
    .main {
        display: flex;
        justify-content: center;
    }

    .card {
        border-top: 1px solid var(--dark-color);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 310px;
        padding-bottom: 0px;
    }

    .card {
        margin: 0px;
    }

    .card:not(:nth-of-type(1))
    {
        margin-left: 40px;
    }

    .card-btn {
        width: 180px;
    }
}

