/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (variables, resets)
        2. =PRIMARY LAYOUT (body, main)
        3. =SECONDARY LAYOUT (header, footer, sidebar)
        4. =TERTIARY LAYOUT (section)
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px, 1050px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

:root {
    --border-color: rgba(17, 31, 30, .52);
    --dark-color: #233e3d;
    --med-dark-color: #467c7b;
    --med-color: #75b0af;
    --lt-color: #d2e5e5;
    --opaque-lt-color: rgba(210,229,229, .92);
    --dark-neutral:#111f1e;
    --lt-neutral: #f1f7f7;
}
  
*:where(:not(img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    min-width: 375px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
button {
    cursor: revert;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}
  
/* ===============
   PRIMARY LAYOUT
   =============== */
  
body {
    background-color: var(--lt-neutral);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

main {
    display: block;
    flex: 1 0 auto;
}

/* ===============
   SECONDARY LAYOUT
   =============== */

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav {
  width: 100%;
}

.main-nav {
  align-items: center;
  background-color: var(--lt-neutral);
  box-shadow: 0 3px 5px var(--border-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.nav-content {
  background-color: var(--lt-neutral);
  border-top: 1px solid var(--med-dark-color);
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: -25px;
  width: 100%;
  z-index: 5;
}

.nav-content.--is-active {
  box-shadow: 0 3px 5px var(--border-color);
  opacity: 1;
  transform: translateY(132.5px);
}

.sub-nav {
  background-color: var(--dark-color);
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer {
  align-items: center;
  background-color: var(--lt-color);
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  height: 245px;
}

.foot-tab {
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.copyright {
  font-size: .7rem;
  margin-bottom: 20px;
  text-align: center;
}
  
/* ===============
   TERTIARY LAYOUT
   =============== */

.logo {
  align-items: center;
  display: flex;
  z-index: 10;
}

/* ===============
   TEXT RELATED
   =============== */

@font-face {
  font-family: "League Spartan";
  src: url(../fonts/league-spartan-bold.woff2);
}
@font-face {
  font-family: "Futura";
  src: url(../fonts/futura.woff);
}

h1,
h2,
h3, 
h4, 
h5 {
  color: var(--dark-color);
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase;
}

p {
  color: var(--dark-color);
  font-family: "Futura", sans-serif;
}

.logo__title {
  color: var(--med-color);
  font-size: .9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pages {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 0;
}

.page {
  width: 50%;
}

.sub-nav__message {
  font-family: "League Spartan", sans-serif;
  font-size: .75rem;
  color: var(--opaque-lt-color);
}

.sub-nav__strong {
  color: var(--lt-neutral);
}

.foot-pages, .foot-socials, .info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.foot-pages {
  margin-top: 35px;
  gap: 5px 20px;
}

.foot-socials {
  gap: 0px 24px;
}

.foot-page__link, .info__item {
  font-size: .75rem;
}

.info__item {
  color: var(--dark-color);
  font-family: "Futura", sans-serif;
  margin-bottom: 5px;
  padding: 0 10px;
}

.info__item:not(:nth-of-type(1)) {
  border-left: 1px solid var(--border-color);
}

/* ===============
   GENERAL STYLES
   =============== */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}

select {
  color: var(--dark-color);
}

.nav-toggle {
  display: block;
  height: 20px;
  position: relative;
  width: 40px;
  z-index: 10;
}

.nav-toggle__top, .nav-toggle__middle, .nav-toggle__bottom {
  background-color: var(--dark-color);
  border-radius: 3px;
  height: 2px;
  position: absolute;
  width: 100%;
}

.nav-toggle__top {
  left: 0;
  top: 0;
}

.nav-toggle__middle {
  left: 0;
  top: calc(50% - 1px);
}

.nav-toggle__bottom {
  bottom: 0;
  left: 0;
}

.nav-toggle.--is-active .nav-toggle__top {
  background-color: var(--med-color);
  transform: rotate(45deg);
  transform-origin: 25%;
}

.nav-toggle.--is-active .nav-toggle__middle {
  opacity: 0;
}

.nav-toggle.--is-active .nav-toggle__bottom {
  background-color: var(--med-color);
  transform: rotate(-45deg);
  transform-origin: 25%;
}

.nav-toggle.--is-active .nav-toggle__bottom {
  bottom: 4px;
}

/* ===============
   GENERAL CLASSES
   =============== */

.wrap-horizontal {
  padding-left: 10px;
  padding-right: 10px;
}
  
.wrap-vertical {
  padding-bottom: 15px;
  padding-top: 15px;
}

.--page-link {
  position: relative;
}

/* ===============
   SALIENT FEATURES
   =============== */

svg {
  fill: var(--med-color);
}

a {
  color: var(--dark-color);
  font-family: "League Spartan";
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

i {
  color: var(--dark-color);
}

.sub-nav__link {
  color: var(--opaque-lt-color);
  letter-spacing: initial;
  text-decoration: underline;
  text-transform: initial;
}

.page__link {
  color: var(--dark-color);
  font-size: .75rem;
  text-transform: uppercase;
}

.foot-social__svg {
  height: 20px;
  width: 20px;
}

/* ===============
   ANIMATIONS
   =============== */

/* ===============
   MEDIA QUERIES
   =============== */

@media (min-width: 900px) {
  .main-nav {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .logo__title {
    font-size: 1rem;
  }

  button:hover, i:hover {
      cursor: pointer;
  }

  .wrap-horizontal {
      padding-left: 35px;
      padding-right: 35px;
  }
      
  .wrap-vertical {
      padding-bottom: 45px;
      padding-top: 45px;
  }

  .nav-toggle {
    display: none;
  }

  .nav-content {
    background-color: var(--lt-neutral);
    border: none;
    opacity: 1;
    padding: 0;
    position: initial;
    width: max-content;
  }

  .nav-content.--is-active {
    box-shadow: none;
    transform: translateY(0px);
  }

  .pages {
    flex-flow: row nowrap;
    gap: 0 10px;
  }

  .page {
    width: max-content;
  }

  .foot-pages {
    gap: 5px 34px;
    margin-top: 55px;
  }

  .foot-socials {
    gap: 0px 50px;
  }

  .foot-page__link {
    font-size: .875rem;
  }

  .foot-social__svg {
    height: 32.5px;
    width: 32.5px;
  }

  .--link-animation::before {
    border-radius: 3px;
    bottom: -3px;
    content: "";
    height: 3px;
    position: absolute;
    right: 0;
    width: 0;
  }

  .--link-animation::before {
    background-color: var(--med-color);
    transition: all 0.30s cubic-bezier(0.694, 0.048, 0.335, 1);
  }

  .--link-animation:hover::before {
    left: 0;
    width: 100%;
  }
}

@media (min-width: 1050px) {
  .wrap-vertical {
      padding-bottom: 75px;
      padding-top: 75px;
  }

  .pages {
    gap: 0 14px;
  }

  .page__link {
    font-size: 0.875rem;
  }
}
