/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (variables, resets)
        2. =PRIMARY LAYOUT (body, main)
        3. =SECONDARY LAYOUT (header, footer, sidebar)
        4. =TERTIARY LAYOUT (section)
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px, 1050px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

:root {
    --bg-color: #f3f3f3;
    --dark: #555455;
    --med: #a3a2a3;
    --lt: #fff;
    --primary: #9fbcbe;
    --secondary: #f8fbfa;
    --dark-color: #557173;
    --med-color: #9fbcbe;
    --lt-color: #f0feff;
}
  
*:where(:not(img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    min-width: 375px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
button {
    cursor: revert;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}
  
  /* ===============
     PRIMARY LAYOUT
     =============== */
  
body {
    background-color: var(--lt);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

main {
    display: block;
    flex: 1 0 auto;
}

/* ===============
SECONDARY LAYOUT
=============== */

.header {
    align-items: center;
    background-color: var(--lt);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.nav {
    display: flex;
    flex-flow: column nowrap;
}

.footer {
    align-items: center;
    background-color: var(--primary);
    color: var(--lt);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
}

.foot-tab {
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.copyright {
    font-size: .7rem;
    margin-bottom: 20px;
    text-align: center;
}
  
  /* ===============
     TERTIARY LAYOUT
     =============== */

  .logo {
    align-items: center;
    display: flex;
  }
  
  /* ===============
     TEXT RELATED
     =============== */

  @font-face {
    font-family: "League Spartan";
    src: url(../fonts/league-spartan-bold.woff2);
  }
  @font-face {
    font-family: "Futura";
    src: url(../fonts/futura.woff);
  }
  
  h1,
  h2,
  h3, 
  h4, 
  h5 {
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
  }
  
  p {
    font-family: "Futura", sans-serif;
  }

  .logo__title {
    color: var(--dark);
    font-size: .9rem;
    letter-spacing: 2.4px;
    margin: 0px;
    text-transform: uppercase;
  }

  .foot-tab__title {
    margin: 0px;
    text-transform: uppercase;
  }

  .foot-tab__list {
    margin: 5px 0px 0px 0px;
  }
  
  .social {
    margin: 20px 0px;
    text-align: center;
  }

  .copyright__company, .copyright__info {
    margin: 0px;
  }
  
  /* ===============
     GENERAL STYLES
     =============== */
  
  button {
    background-color: transparent;
    border: none;
    padding: 0px;
  }

  select {
    color: var(--dark);
  }

  .nav__btn {
    font-size: 2rem;
    text-align: right;
  }
  
  /* ===============
     GENERAL CLASSES
     =============== */

  .wrap-horizontal {
    padding-left: 10px;
    padding-right: 10px;
  }
    
  .wrap-vertical {
    padding-bottom: 15px;
    padding-top: 15px;
  }
      
  .hidden {
    display: none;
  }
      
  .nav-invert {
    background-color: var(--primary);
    height: 100vh;
    margin: -20px -10px;
    padding: 15px 10px;
    width: 100vw;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .--page-link {
    position: relative;
  }
  
  /* ===============
     SALIENT FEATURES
     =============== */
  
  svg {
    fill: var(--bg-color);
  }

  a {
    color: var(--lt);
    font-family: "League Spartan";
    text-decoration: none;
    text-transform: uppercase;
  }

  i {
    color: var(--dark);
  }

  .page__link {
    color: var(--dark);
    font-size: .870rem;
    text-transform: uppercase;
  }

  .foot-tab__link {
    text-transform: initial;
  }

  .social__icon {
    color: var(--lt);
    font-size: 1.8rem;
    margin: 0px 7.5px;
  }
  
  /* ===============
      ANIMATIONS
     =============== */

  /* ===============
     MEDIA QUERIES
     =============== */
  
  @media (min-width: 900px) {
    .header {
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .logo__title {
      font-size: 1.05rem;
    }

    button:hover, i:hover {
        cursor: pointer;
    }

    .wrap-horizontal {
        padding-left: 35px;
        padding-right: 35px;
    }
        
    .wrap-vertical {
        padding-bottom: 45px;
        padding-top: 45px;
    }

    .nav__btn {
        display: none;
    }

    .pages {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    .foot-tab {
        margin-top: 35px;
    }

    .foot-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        width: 100%;
    }

    .copyright, .social {
        align-self: flex-end;
        margin: 0px;
    }

    .copyright {
        text-align: right;
    }

    .page__link:hover {
      color:black;
    }

    .--link-animation::before,
    .--link-animation::after {
      border-radius: 3px;
      bottom: -8.5px;
      content: "";
      height: 3px;
      position: absolute;
      right: 0;
      width: 0;
    }

    .--link-animation::before {
      background-color: var(--dark-color);
      transition: all 0.30s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
    }

    .--link-animation::after {
      background-color: var(--med-color);
      transition: all 0.30s cubic-bezier(0.694, 0.048, 0.335, 1);
    }

    .--link-animation:hover::before,
    .--link-animation:hover::after {
      left: 0;
      width: 100%;
    }
  }
  
  /* @media (min-width: 1050px) {
    .wrap-horizontal {
        padding-left: 65px;
        padding-right: 65px;
    }
    
    .wrap-vertical {
        padding-bottom: 75px;
        padding-top: 75px;
    }
    
    .foot-bottom {
        margin-top: 50px;
    }
  } */
  