/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (imports)
        2. =PRIMARY LAYOUT (pdfs)
        3. =SECONDARY LAYOUT (resources)
        4. =TERTIARY LAYOUT (faqs)
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px, 1250px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

@import url("main.css");

/* ===============
  PRIMARY LAYOUT
  =============== */

.pdfs {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* ===============
  SECONDARY LAYOUT
  =============== */

.resources {
    background-color: var(--primary);
    margin: -15px -10px;
    padding: 65px 0px;
    text-align: center;
}

/* ===============
  TERTIARY LAYOUT
  =============== */

.faqs {
    margin: 25px 0px 50px 0px;
}

.faq {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq:not(:nth-of-type(1)) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding-top: 10px;
}

/* ===============
  TEXT RELATED
  =============== */

.resources__title {
    color: var(--lt);
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
}

.faq-title {
    font-size: 1.1rem;
    margin: 65px auto 0px auto;
    text-align: center;
}

.faq__question {
    font-size: .95rem;
    margin: 0px;
    text-transform: initial;
}

.faq__inner {
    display: none;
    font-size: .85rem;
    margin: 0px;
    width: 100%;
}

/* ===============
  GENERAL STYLES
  =============== */

.pdf {
    background-color: var(--lt);
    border-radius: 10px;
    box-shadow: 0px 4px 8px -4px var(--dark);
    padding: 7.5px 0px;
    width: 300px;
}

.pdf:not(:nth-of-type(1)) {
    margin-top: 30px;
}

/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

.pdf__link {
    color: var(--primary);
    font-size: 1rem;
    text-transform: uppercase;
}

.faq__icon {
    font-size: 0.9rem;
    margin-left: auto;
}

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

@media (min-width: 900px) {
    .resources {
        margin: -45px -35px;
    }
    
    .faqs {
        margin: 30px 0px 20px 0px;
    }
    
    .faq-title {
        margin-top: 95px;
    }
    
    .faq:not(:nth-of-type(1)) {
        margin-top: 15px;
        padding-top: 15px;
    }
}

@media (min-width: 1250px) {
    .resources {
        margin: -75px -65px;
    }
    
    .faqs {
        margin: 35px 0px 0px 0px;
    }
    
    .faq-title {
        margin-top: 125px;
    }
    
    .faq:not(:nth-of-type(1)) {
        margin-top: 20px;
        padding-top: 20px;
    }
}
