@import url("main.css");

/* banner */
.banner {
  background-color: var(--primary);
  padding: 5px 0px;
  text-align: center;
}

/* brands */
.brands {
  margin: 0px;
  text-align: center;
}

.brand {
  position: relative;
}

.brand__title {
  margin: 90px 0px 0px 0px;
  text-transform: uppercase;
}

.brand__link {
  color: var(--dark);
}

.brand__img {
  width: 100%;
}

.brand__desc {
  font-family: "Playfair Display SemiBold";
  font-size: .85rem;
  bottom: 25%;
  padding: 0px 20px;
  position: absolute;
  text-align: left;
  text-transform: initial;
}

/* toggles */
.transparent {
  opacity: 0.2;
}

.hide {
  display: none;
}
