/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (imports)
        2. =PRIMARY LAYOUT (brands)
        3. =SECONDARY LAYOUT (banner)
        4. =TERTIARY LAYOUT
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

@import url("main.css");

/* ===============
  PRIMARY LAYOUT
  =============== */

.banner {
    background-color: var(--med-color);
    padding: 40px 0px;
    text-align: center;
}

/* ===============
  SECONDARY LAYOUT
  =============== */

.brands {
    padding: 70px 0px;
    text-align: center;
}

.brand {
    margin: 0px auto;
    max-width: 700px;
    width: 100%;
} 

.brand__content {
    background-position: center;
    background-size: cover;
    height: 400px;
    margin: 0px auto;
    max-width: 480px;
    position: relative;
    width: 100%;
}

.brand__overlay {
    background-color: var(--opaque-lt-color);
    display: block;
    height: 100%;
    width: 100%;
}

/* ===============
  TERTIARY LAYOUT
  =============== */

/* ===============
  TEXT RELATED
  =============== */

.banner__title {
    color: var(--lt-neutral);
    font-size: 2rem;
}

.brand__title {
    margin: 15px 0px;
    text-transform: uppercase;
}

.brand:nth-of-type(1) .brand__title {
    margin-top: 0px;
}

.brand__desc {
    font-size: 1rem;
    left: 50%;
    margin: 0px;
    position: absolute;
    text-align: left;
    text-transform: initial;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

/* ===============
  GENERAL STYLES
  =============== */

.brand__btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

.brand__icon {
    font-size: 1.4rem;
}

.brand__link {
    color: var(--dark-color);
}

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

@media (min-width: 900px) {
    .banner {
        padding: 60px 0;
    }

    .brands {
        padding: 100px 0;
    }

    .brand__btn {
        display: none;
    }
}
