@import url("main.css");

/* layout */
.wrap-vertical {
  padding-bottom: 0px;
}

/* banner */
.banner {
  background-color: var(--primary);
  margin: -15px -10px;
  padding: 30px 0px;
  text-align: center;
}

.banner__title {
  color: var(--lt);
  margin: 0px;
}

/* brands */
.brands {
  margin: 15px 0px 0px;
  padding: 70px 0px;
  text-align: center;
}

.brand {
  margin: 0px auto;
  max-width: 700px;
  width: 100%;
}

.brand__title {
  margin: 15px 0px;
  text-transform: uppercase;
}

.brand:nth-of-type(1) .brand__title {
  margin-top: 0px;
}

.brand__content {
  background-position: center;
  background-size: cover;
  height: 400px;
  margin: 0px auto;
  max-width: 480px;
  position: relative;
  width: 100%;
}

.brand__overlay {
  width: 100%;
  height: 100%;
  display: block;
}

.brand__link {
  color: var(--dark);
}

.brand__desc {
  font-family: "Playfair Display Regular";
  font-size: 1rem;
  left: 50%;
  margin: 0px;
  position: absolute;
  text-align: left;
  text-transform: initial;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

/* toggles */
.transparent {
  background-color: rgba(255, 255, 255, 0.85);
}

.hide {
  display: none;
}

/* media queries */
@media (min-width: 900px) {
  .banner {
    margin: -45px -35px;
  }

  .brands {
    margin-top: 45px;
  }

  .wrap-vertical {
    padding-bottom: 0px;
  }
}

@media (min-width: 1250px) {
  .banner {
    margin: -75px -65px;
  }

  .brands {
    margin-top: 75px;
    padding: 100px 0px;
  }
}