/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (imports)
        2. =PRIMARY LAYOUT (services)
        3. =SECONDARY LAYOUT (showcase)
        4. =TERTIARY LAYOUT
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

@import url("main.css");

/* ===============
  PRIMARY LAYOUT
  =============== */

.services {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(325px, max-content));
    grid-gap: 30px;
    margin: 50px auto;
}

.service {
    background-color: var(--lt-color);
    box-shadow: 0 10px 60px -20px var(--shadow-color);
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 40px;
    width: 325px;
}

/* ===============
  SECONDARY LAYOUT
  =============== */

/* ===============
  TERTIARY LAYOUT
  =============== */

/* ===============
  TEXT RELATED
  =============== */

.service__title {
    font-size: 1.10rem;
} 

.service__body {
    font-size: .85rem;
    text-align: left; 
}

/* ===============
  GENERAL STYLES
  =============== */

.showcase__btn {
    background-color: var(--lt);
    border-radius: 50%;
    bottom: -25px;
    box-shadow: 0px 8px 20px -6px var(--shadow-color);
    height: 50px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 50px;
}

.service__btn {
    background-color: var(--med-color);
    border-radius: 3px;
    padding: 5px 15px;
}
  
/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

.showcase__icon {
    color: var(--dark-color);
    font-size: 2rem;
}

.service__link {
    color: var(--lt-color);
}

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

@media (min-width: 900px) {
    .services {
      grid-gap: 60px;
      margin: 60px auto;
    }
}
