/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (imports)
        2. =PRIMARY LAYOUT (specials)
        3. =SECONDARY LAYOUT
        4. =TERTIARY LAYOUT
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES (900px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

@import url("main.css");

/* ===============
  PRIMARY LAYOUT
  =============== */

.specials {
    padding: 70px 0;
}

.special {
    background: linear-gradient(
      90deg,
      var(--med-color),
      var(--lt-color)
    );
    border-radius: 15px;
    color: var(--lt);
    display: grid;
    grid-template-columns: 0.5fr repeat(7, 1fr) 0.5fr;
    grid-template-rows: repeat(5, 1fr) 0.25fr;
    grid-template-areas:
      ". col .   .   .   .   .   sti ."
      ". col .  ti  ti  ti   .   .   ."
      ". col .  ti  ti  ti   .   .   ."
      ". col bdy bdy bdy bdy bdy .   ."
      ". col bdy bdy bdy bdy bdy .   ."
      ". col   .   .   .   .   .   .   .";
    height: 250px;
    margin: 40px auto 0px auto;
    max-width: 415px;
    width: 95%;
}

.special:nth-of-type(1) {
    margin-top: 0px;
}

.special__column {
    background-color: var(--lt-color);
    grid-area: col;
}  

/* ===============
  SECONDARY LAYOUT
  =============== */

/* ===============
  TERTIARY LAYOUT
  =============== */

/* ===============
  TEXT RELATED
  =============== */

.special__title {
    align-self: flex-end;
    grid-area: ti;
    text-align: center;
    text-transform: uppercase;
}

.special__subtitle {
    align-self: center;
    grid-area: sti;
}

.special__body {
    align-self: center;
    font-size: 0.8rem;
    margin-left: 30px;
    grid-area: bdy;
}

/* ===============
  GENERAL STYLES
  =============== */

/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

@media (min-width: 900px) {
    .specials {
        padding: 100px;
    }

    .special {
        height: 350px;
        max-width: 515px;
    }
}
